* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:'Preahvihear','Poppins', sans-serif;
  background: #0b001c;
  color: #fff;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 80px;
  background: #16002e;
}

.logo {
  font-size: 28px;
  font-weight: 600;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 70px;
  font-weight: 600;
  margin-right: 90px;
}

nav a {
  text-decoration: none;
  color: #fffbfb;
  font-size: 17px;
  text-align: center;
}

nav a:hover {
  color: #4b00a0;
}

/* HERO */
.hero {
  padding: 100px;
 
}

/* FLEX ROW */
.hero-content {
  display: flex;
  align-items: center;
  justify-content: center; /* center items horizontally */
  gap: 80px;

  max-width: 1200px; /* control width */
  margin: 0 auto;    /* center the whole block */
}

/* IMAGE */
.hero-img img {
  width: 350px;
  border-radius: 100px;
  box-shadow: 100px 0px 150px rgba(140, 10, 255, 0.4);
  align-items: center;
}

/* TEXT */
.hero-text h3 {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.hero-text span {
  color: #a855f7;
  text-align: center;
}

.small-title {
  font-size: 14px;
  margin: 15px 0;
  color: #aaa;
  text-align: center;
}

.hero-text h1 {
  font-size: 56px;
  line-height: 1.2;
  font-weight: 600;
  text-align: center;
}

.highlight {
  position: absolute; /* absolute to match Figma coordinates */
  left: 875px;
  top: 435px;

  display: inline-block;
  color: #a855f7;
  z-index: 1;

  width: 188.58px;  /* Figma width */
  height: 57.9px;   /* Figma height */
  transform: rotate(4.74deg); /* Figma rotation */
  text-align: center; /* center text if needed */
  line-height: 57.9px; /* vertically center text */
}

/* Ellipse outline */
.highlight::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  border: 1px solid rgba(255,255,255,0.8);
  border-radius: 50% / 50%; /* perfect ellipse matching width & height */

  transform: rotate(4.74deg); /* same tilt as Figma */
  z-index: -1;
}

.sub-text {
  font-size: 12px;
  color: #aaa;
  margin-top: 10px;
}

/* BOTTOM */
.bottom-text {
  margin-top: 80px;
  text-align: center;
}

.bottom-text h2 {
  font-size: 48px;
  font-weight: 500;
}

.typing {
  margin-top: 10px;
  color: #aaa;
}

.description {
  max-width: 700px;
  margin: 30px auto;
  font-size: 14px;
  color: #ccc;
  line-height: 1.8;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .hero-content {
    flex-direction: column;
    text-align: center;
  }
  
  .nav a{
    font-size: 16px;
  }

  .hero-img img {
  width: 250px;
  }

  .hero-text h1 {
    font-size: 40px;
  }
}